src/main/resources/wsdl/OctopusProService.svc.xsd_xsd5.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Octop.ActionService.Criteria" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/Octop.ActionService.Criteria">
    <xs:complexType name="ws_octop_1a_Criteria">
        <xs:sequence>
            <xs:element minOccurs="0" name="Page" type="xs:int"/>
            <xs:element minOccurs="0" name="PageSize" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ws_octop_1a_Criteria" nillable="true" type="tns:ws_octop_1a_Criteria"/>
</xs:schema>